# Служебные файлы Git
.gitattributes text eol=lf
.gitignore     text eol=lf

# Текстовые файлы 1С — хранить в репозитории с LF
*.xml   text eol=lf
*.bsl   text eol=lf
*.html  text eol=lf
*.htm   text eol=lf
*.txt   text eol=lf
*.md    text eol=lf
*.json  text eol=lf
*.svg   text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.ps1   text eol=lf

# Бинарные — не трогать
*.bin   -text
*.bmp   -text
*.cf    -text
*.gif   -text
*.ico   -text
*.jpg   -text
*.jpeg  -text
*.mxl   -text
*.png   -text
*.webp  -text
*.zip   -text
