<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body style="max-width:1000px; overflow-x: hidden; ::-webkit-scrollbar {width: 0px; background: transparent;}">
<h2>Инструкция по загрузке отчетов поставщиков процессинговых центров</h2>
<div>Документ "Отчет поставщика процессингового центра" используется для сверки данных, получаемых от поставщиков (АЗС) и данных, получаемых от водителей. Информация в этот документ может загружаться специальными обработками, которые настраиваются для каждой автозаправочной станции в справочнике "АЗС". </div>
<div>Загрузка данных выполняется в 2 этапа:</div>
<div>
<ol><li>Сначала данные загружаются из файла в документ "Отчет поставщика ПЦ". Для этого предназначена обработка "Универсальная загрузка данных ПЦ".</li>
<li>На основании данных из документов "Отчет поставщика ПЦ" могут быть сформированы документы "Заправка ГСМ" и "Слив ГСМ" (при наличии заправок с отрицательным количеством). Для этого предназначена обработка "Загрузить заправки ГСМ из отчетов ПЦ ".</li></ol></div>
<h3>Внешняя обработка "Универсальная загрузка данных ПЦ"</h3>
<div>Обработка предназначена для загрузки данных процессинговых центров (далее по тексту - ПЦ) из файла в документы "Отчет поставщика ПЦ".</div>
<div>Перед началом работы обработку необходимо прикрепить к элементу справочника "АЗС" или указать, что используется стандартная (встроенная в программу) обработка. Чтобы прикрепить внешнюю обработку "Универсальная загрузка данных ПЦ" к АЗС воспользуйтесь командой "Внешняя обработка" - "Изменить".</div>
<div><br><img src="_files/017.PNG"></img></div>
<br><div>В справочнике "АЗС" в табличной части «Соответствие ГСМ» необходимо указать соответствия наименования ГСМ в файле и номенклатуры ГСМ в программе.<br></div>
<div>Обработка вызывается по кнопке "Загрузить" командной панели табличной части "Заправки" документа "Отчет поставщика ПЦ". </div>
<div>При открытии формы обработки необходимо выбрать файл с данными ПЦ, период загрузки данных и настроить параметры.</div>
<div><br><img src="_files/024.PNG"></img></div>
<br clear="all"><br><div>Параметры:</div>
<div>
<ul><li>Тип файла данных. Тип файла данных ПЦ, может быть выбран файл MS Excel, xBase, OpenOffice. </li>
<li>Соответствие колонок. Может устанавливаться: </li>
<ul><li>По имени. Соответствие колонок устанавливается по имени колонки таблицы файла. </li>
<li>По номеру. Соответствие колонок устанавливается по порядковому номеру колонки таблицы файла.</li></ul><li>Таблица соответствия колонок. Поле "Колонка документа" содержит имя колонки табличной части документа "Отчет поставщика ПЦ". Поле "Имя / номер колонки файла" - имя/номер колонки таблицы файла, соответствующей колонке документа.</li></ul></div>
<div>Колонка "Дата" документа "Отчет поставщика ПЦ" содержит дату и время. Файл выгрузки может содержать одну колонку "Дата" с датой и временем, или две отдельные колонки "Дата", "Время". Поэтому для колонок "Дата" и "Время" могут быть указаны одинаковые номера (имена) колонок  в файле.</div>
<div><br></div>
<div><b><font color="#ff0000">Внимание!</font></b> При загрузке данных файл не должен быть открыт для редактирования в других приложениях.</div>
<div><br><img src="_files/031.PNG"></img></div>
<br clear="all"><div>При нажатии кнопки "Выполнить загрузку" в документ "Отчет поставщика ПЦ" будут подставлены данные из файла. Колонки "ГСМ", "Топливная карта", "ТС" будут подставлены автоматически, если наименование в файле соответствует наименованию номенклатуры, топливной карты, транспортного средства. Колонку "ТС" можно заполнить либо вручную, либо по кнопке "Заполнить" командной панели табличной части "Заправки" документа "Отчет поставщика ПЦ". </div>
<h3>Обработка "Загрузить заправки ГСМ из отчетов ПЦ"</h3>
<div>Форма обработки содержит настройки:</div>
<div>
<ul><li>Глубина поиска путевых листов:</li>
<li>До выезда, часов - Глубина поиска путевых листов до выезда (в часах). </li>
<li>После возвращения, часов - Глубина поиска путевых листов после возвращения (в часах).</li>
<li>Только проверенные заправки ГСМ - Если данный флаг установлен,  это означает, что из документов "Отчет поставщика ПЦ" будут загружаться только строки с установленным флажком "Проверено". </li>
<li>Обрабатывать рассчитанные путевые листы - Если данный флаг установлен, то при формировании для каждой заправки будет выполняться поиск путевого листа по автомобилю и дате заправки. В случае нахождения такого путевого листа, заправка будет в него добавлена. Если флаг не установлен будет выполняться поиск только не рассчитанных путевых листов. </li>
<li>Пересчитать расход ГСМ по путевым листам - Если данный флаг установлен путевой лист будет пересчитан. </li>
<li>Проводить созданные заправки и сливы ГСМ - Если данный флаг установлен, то сформированные заправки и сливы проводятся, иначе записываются. </li>
<li>Открывать формы записанных заправок и сливов ГСМ - Если данный флаг установлен, то открываются сформированные документы. </li>
<li>Создавать сливы ГСМ для отрицательных заправок - Если данный флаг установлен, тогда формируются сливы. </li>
<li>Комментировать ход выполнения - Если данный флаг установлен, то пользователю сообщается о сформированных документах.</li></ul><div><br><img src="_files/043.PNG"></img></div>
<br clear="all"><br><div>Глубина в часах прибавляется к границам путевого листа при поиске соответственно до даты выезда и после даты возвращения. По умолчанию интервал поиска совпадает с периодом между выездом и возвращением путевого листа.<span class="Apple-tab-span" style="white-space: pre;">	</span></div>
<div>При открытии формы обработки необходимо выбрать период формирования, организацию и АЗС. Затем включить флажки для тех видов ГСМ, по которым требуется выполнить загрузку и нажать кнопку "Выполнить". При успешном завершении выполнения обработки на закладке "Обработанные документы" отобразятся созданные и обработанные документы.
<div><br><img src="_files/051.PNG"></img></div>
<br clear="all"></div></div><br></body></html>